.icon-mail {
  width: 30px;
  height: 30px;
  background: url('~@/assets/icons/mail.svg') no-repeat center;
}
.icon-location {
  width: 30px;
  height: 45px;
  background: url('~@/assets/icons/location.svg') no-repeat center;
}
