.product-list {
  display: none;
  @include tablet-portrait-up {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
  }

  @include desktop-up {
    grid-gap: 3rem;
    padding: 0 10rem 10rem;
  }

  @include big-desktop-up {
    grid-gap: 3rem;
    padding: 0 16.25rem 20rem;
  }
}
