.navbar-list {
  &.responsive {
    display: none;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  &__item {
    &:first-child {
      padding: 1.75rem 0;
    }
    &--active {
      color: $red-100;
    }

    padding: 2rem 0;
    line-height: 1.1875rem;
    letter-spacing: 1px;
    width: 100%;
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-weight: 700;
  }
}

@include desktop-up {
  .navbar-list {
    &.responsive {
      display: block;
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    $nav: &;
    &__item {
      &:first-child {
        padding: 0 0.75rem;
      }

      padding: 0 0.75rem;
      border-bottom: none;
      width: auto;
      &--active {
        color: $white;
        #{ $nav }__link {
          &::after {
            border-bottom: 2px solid $red-100;
            opacity: 1;
          }
        }
      }
    }
    &__link {
      position: relative;
      padding-bottom: 0.6875rem;
      transition: 0.5s;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background: $red-100;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
