.software {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__logo {
    margin-bottom: 14px;
    width: calc((100% - 3px) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@include tablet-landscape-up {
  .software {
    display: grid;
    grid-template-columns: repeat(12, auto);
    direction: ltr;
    justify-content: flex-start;
    margin-left: -1.25rem;
    &__logo {
      margin-bottom: 14px;
      grid-column: span 3;
      width: 100%;
      &:last-child:nth-child(2n - 1) {
        grid-column-end: -6;
      }
      &:nth-last-child(2):nth-child(2n - 2) {
        grid-column-end: 5;
      }
    }
  }
}
