.product-wrapper {
  background-image: url('~@/assets/images/wild-card.svg'),
  url('~@/assets/images/background-wave.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: top, top 100% center;
  @include tablet-landscape-up {
    padding: 0 2rem 10rem;
    background-image: url('~@/assets/images/wild-card-2x.svg'),
    url('~@/assets/images/background-wave-2x.svg');
    background-size: 100% auto, cover;
  }
}

.product-introduction {
  padding: 5.4rem 0 3.15rem;
  @include desktop-up {
    padding: 14.8rem 10rem 5.2rem;
  }
  @include big-desktop-up {
    padding: 14.8rem 26rem 5.2rem;
  }
}


